<%- include("header") -%>

<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dignissimos vel nihil inventore itaque alias nam vero at doloribus ea consequuntur quibusdam quisquam dolores aliquam, id assumenda consectetur natus provident quod recusandae veritatis sapiente modi. Nihil vel doloribus laudantium aliquam, et in deserunt. Suscipit dolore similique, atque perferendis rem incidunt!</p>

<%- include("footer") -%>